<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookshop.mapper.LibTslsMapper" >
  <resultMap id="BaseResultMap" type="com.bookshop.pojo.po.LibTsls" >
    <id column="tsls_id" property="tslsId" jdbcType="INTEGER" />
    <result column="ts_id" property="tsId" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="tsls_time" property="tslsTime" jdbcType="VARCHAR" />
    <result column="tsls_price" property="tslsPrice" jdbcType="DOUBLE" />
    <result column="tsls_num" property="tslsNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tsls_id, ts_id, u_id, tsls_time, tsls_price, tsls_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bookshop.pojo.po.LibTslsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lib_tsls
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lib_tsls
    where tsls_id = #{tslsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lib_tsls
    where tsls_id = #{tslsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bookshop.pojo.po.LibTslsExample" >
    delete from lib_tsls
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bookshop.pojo.po.LibTsls" >
    insert into lib_tsls (tsls_id, ts_id, u_id, 
      tsls_time, tsls_price, tsls_num
      )
    values (#{tslsId,jdbcType=INTEGER}, #{tsId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, 
      #{tslsTime,jdbcType=VARCHAR}, #{tslsPrice,jdbcType=DOUBLE}, #{tslsNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bookshop.pojo.po.LibTsls" >
    insert into lib_tsls
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tslsId != null" >
        tsls_id,
      </if>
      <if test="tsId != null" >
        ts_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="tslsTime != null" >
        tsls_time,
      </if>
      <if test="tslsPrice != null" >
        tsls_price,
      </if>
      <if test="tslsNum != null" >
        tsls_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tslsId != null" >
        #{tslsId,jdbcType=INTEGER},
      </if>
      <if test="tsId != null" >
        #{tsId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="tslsTime != null" >
        #{tslsTime,jdbcType=VARCHAR},
      </if>
      <if test="tslsPrice != null" >
        #{tslsPrice,jdbcType=DOUBLE},
      </if>
      <if test="tslsNum != null" >
        #{tslsNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bookshop.pojo.po.LibTslsExample" resultType="java.lang.Integer" >
    select count(*) from lib_tsls
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lib_tsls
    <set >
      <if test="record.tslsId != null" >
        tsls_id = #{record.tslsId,jdbcType=INTEGER},
      </if>
      <if test="record.tsId != null" >
        ts_id = #{record.tsId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.tslsTime != null" >
        tsls_time = #{record.tslsTime,jdbcType=VARCHAR},
      </if>
      <if test="record.tslsPrice != null" >
        tsls_price = #{record.tslsPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.tslsNum != null" >
        tsls_num = #{record.tslsNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lib_tsls
    set tsls_id = #{record.tslsId,jdbcType=INTEGER},
      ts_id = #{record.tsId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      tsls_time = #{record.tslsTime,jdbcType=VARCHAR},
      tsls_price = #{record.tslsPrice,jdbcType=DOUBLE},
      tsls_num = #{record.tslsNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bookshop.pojo.po.LibTsls" >
    update lib_tsls
    <set >
      <if test="tsId != null" >
        ts_id = #{tsId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="tslsTime != null" >
        tsls_time = #{tslsTime,jdbcType=VARCHAR},
      </if>
      <if test="tslsPrice != null" >
        tsls_price = #{tslsPrice,jdbcType=DOUBLE},
      </if>
      <if test="tslsNum != null" >
        tsls_num = #{tslsNum,jdbcType=INTEGER},
      </if>
    </set>
    where tsls_id = #{tslsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bookshop.pojo.po.LibTsls" >
    update lib_tsls
    set ts_id = #{tsId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      tsls_time = #{tslsTime,jdbcType=VARCHAR},
      tsls_price = #{tslsPrice,jdbcType=DOUBLE},
      tsls_num = #{tslsNum,jdbcType=INTEGER}
    where tsls_id = #{tslsId,jdbcType=INTEGER}
  </update>
</mapper>