<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.bookshop.controller" />
	<context:component-scan base-package="com.bookshop.usercontroller" />

	
	
    <mvc:annotation-driven/>

   <!-- 上传文件的设置 ，maxUploadSize=-1，表示无穷大。uploadTempDir为上传的临时目录 -->  
<!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"    
        p:defaultEncoding="UTF-8"    
        p:maxUploadSize="-1"    
        p:uploadTempDir="fileUpload/temp"   
     />     -->
     
     <bean id="multipartResolver"    
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
        <!-- set the max upload size100MB -->    
        <property name="maxUploadSize">    
            <value>104857600</value>    
        </property>    
        <property name="maxInMemorySize">    
            <value>4096</value>    
        </property>   
        <property name="defaultEncoding">  
            <value>utf-8</value>  
        </property>  
    </bean>  
     
     
     
     		<!-- 拦截器 -->
	<mvc:interceptors>

		<!-- 用户身份校验的拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/admin/*/*" />
			<bean class="com.bookshop.filter.LoginInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/user/*/*" />
			<bean class="com.bookshop.filter.UserLoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
